# Responsables de revision del repositorio.
# Cualquier cambio en el repo requiere revision de alguno de estos integrantes.
# Roman Scarabino, Gino Scarabino, Lautaro Bernal, Tomas Passadore
*  @romsreu          @ginoskrb     @completar-user @tomaspassadore
